<!-- app/views/sessions/_new.html.erb -->

<p>
  <%= link_to "Sign In with Twitter", "/auth/twitter" %>
</p>

<form class="input new-session <%= placement %>" action="<%= session_url %>" method="post">
  <%= insert_form_authenticity_token %>


    <label for="user_name-session-<%= placement %>">User Name</label>
    <input
      type="text"
      name="user[user_name]"
      value="<%= user.try(:user_name) %>"
      id="user_name-session-<%= placement %>">


    <label for="password-session-<%= placement %>">Password</label>
    <input
      type="password"
      name="user[password]"
      id="password-session-<%= placement %>">


  <input
    class="submit"
    type="submit"
    value="Sign In!">
  <input
    class="submit guest"
    type="submit"
    value="Sign In As A Guest"
    id="submit-guest-<%= placement %>">
</form>

<p>
  New? <%= link_to "Join!", new_user_url %>
</p>

