<!-- /app/views/zip_codes/index.html.erb -->

<div class="content zip-codes-index group">

<div class="public-index-left-column">
  <section class="logo-and-tagline">
    <a href="<%= root_url %>" id="public-index-site-logo-link">
      <h1 class="site-logo" id="public-index-site-logo">Partly Sunny</h1>
    </a>
    <section class="tagline">
      A crowd-sourced weather site for sharing forecasts & photos
    </section>
  </section>

  <section class="weather-search">
    <%= render "zip_code_picker" %>
  </section>

  <section class="latest-reports">
    <h3 class="section-title">Latest Reports</h3>
    <ul>
    <% @recently_updated_zip_codes.each do |zip_code| %>
      <li><%= render "current_weather_summary", zip_code: zip_code %></li>
    <% end %>
    </ul>
    <%= link_to "Sign in to customize >", new_session_url %>
  </section>
</div>

<section class="public-index-right-column">
  <section class="new-report">
    <h3 class="section-title">How is the weather?</h3>
    <%= render "weather_reports/new",
      weather_conditions: @weather_conditions%>
  </section>

  <section class="signin">
    <h3 class="section-title">Sign Up or Sign In</h3>

    <%= render "sessions/new", user: nil, placement: :front_page %>
  </section>
</section>

<!-- <footer>

</footer> -->

</div>

<script>
 $(document).ready(function(){

   $("div.content").css("background", "rgba(255,255,255,0.55)");
   $("body").css("background", "url(<%= @background_photo.image.url %>)").css("background-size", "100%");


 })
</script>