<!-- /app/views/zip_codes/index.html.erb -->

<div class="content zip_codes-index">

<header class="group">
  <section class="logo-and-tagline">
    <a href="<%= root_url %>">
      <%= image_tag "http://placehold.it/350x150&text=Logo" %>
    </a>
    <p class="tagline">
      A crowd-sourced weather site for sharing forecasts & photos
    </p>
  </section>

  <section class="zip_code-picker">
    <%= render "zip_code_picker" %>
  </section>
</header>

<section class="middle-row">
  <section class="signin">
    <%= render "sessions/new", user: nil %>
  </section>

  <section class="new-report">
    <%#= render "weather_reports/new",
      weather_conditions: @weather_conditions,
      zip_codes: @zip_codes %>
  </section>
</section>

<section class="new-weather-and-photos">
  <section class="latest-reports">
    <h2>Latest Reports</h2>
    <ul>
    <% @recently_updated_zip_codes.each do |zip_code| %>
      <li><%= render "current_weather_summary", zip_code: zip_code %></li>
    <% end %>
    </ul>
    <%= link_to "Sign in to customize >", new_session_url %>
  </section>

  <section class="recent-photos">
    <h2>Recent Photos</h2>
    <ul>
      <% @recent_photos.each do |photo| %>
      <li>
        <a href="<%= zip_code_gallery_url(photo.zip_code_id) %>">
          <%= image_tag photo.image.url(:small) %>
        </a>
        <figcaption>
          <a href="<%= zip_code_gallery_url(photo.zip_code_id) %>">
            <%= photo.zip_code.city %>
          </a>
        </figcaption>
      </li>
      <% end %>
    </ul>
    <%= link_to "Sign in to post your own >", new_session_url %>
  </section>
</section>

</div>