<!-- app/views/zip_codes/show.html.erb -->

<h2 class="page-title"><%= @zip_code.city %>, <%= @zip_code.state_code %>
  <a
    href="#"
    data-remote="true"
    class="favorite <% if signed_in? && current_user.favorite_zip_code_ids.include?(@zip_code.id) %>
      <%= true %>
    <% else %>
      <%= false %>
    <% end %>">
    &#9733;
  </a>
</h2>

<span class="page-subtitle">(<%= @zip_code.zip_code %>)</span>


  <div class="favorite-form">
    <%= insert_approriate_favorite_zip_code_button(@zip_code.id) if signed_in? %>
  </div>

<section class="zip-code-weather-left-column">
  <section class="current-conditions">
      <h3 class="section-title">Current Conditions</h3>

      <%= image_tag top_weather_condition_icon(@zip_code).url(:thumbnail), class: "current-weather-icon" %>
      <em><%= @current_temperature %> <span class="degree-units">&deg; <%= current_user.try(:celsius) ? "C" : "F" %><span></em>

      <table id="conditions-table" class="percentages">
        <% @weather_condition_frequencies.each do |condition| %>
        <tr>
          <td><%= condition[0] %></td>
          <td><%= number_to_percentage(condition[1], precision: 0) %></td>
        </tr>
        <% end %>

      </table>

      <canvas
        id="conditions-chart"
        class="percentages hidden"
        height="200" width="330"></canvas>
  </section>


</section>

<section class="zip-code-weather-right-column">

  <section class="new-report-dumb-link">
    <%= link_to "New Report for #{@zip_code.city}", new_weather_report_url(zip_code_id: @zip_code.id) %>
  </section>

  <section class="recent-photos">
    <h3 class="section-title"><%= link_to "Latest Photos", zip_code_gallery_url(@zip_code) %></h3>


    <div id="carrousel">
      <ul>
        <% @photos.each do |photo| %>
          <li><a href="<%= zip_code_gallery_url(@zip_code) %>">
            <%= image_tag photo.image.url(:big), class: "carrousel-photo" %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>

  </section>
</section>

<section class="zip-code-weather-full-column">
  <section class="recent-reports">
    <h3 class="section-title">Latest Reports</h3>
     <table>
      <tr>
        <th>Location</th>
        <th>Temperature</th>
        <th>Condition</th>
        <th>Submission Time</th>
      </tr>

      <% @recent_reports.take(10).each do |report| %>
      <tr>
        <% location = "#{report.zip_code.city}, #{report.zip_code.state_code} (#{report.zip_code.zip_code})" %>
        <td><%= link_to location, zip_code_url(report.zip_code) %></td>
        <td>
          <pre><%= report.temperature %>&deg;<%= current_user.try(:celsius) ? "C" : "F" %></pre>
        </td>
        <td><%= report.weather_condition.description %></td>
        <td><%= friendly_time_format(report.created_at) %></td>
      </tr>
      <% end %>

    </table>
  </section>
</section>

<script>

// CONDITIONS CHART
var ctx = $("#conditions-chart").get(0).getContext("2d");
var data = {
  labels: <%= array_to_javascript_array_string(@weather_condition_frequencies.keys).html_safe %>,
	datasets: [
		{
			fillColor : "rgba(230,230,250,1)",
			strokeColor : "rgba(51,51,51,1)",
			data : <%= array_to_javascript_array_string(@weather_condition_frequencies.values).html_safe %>
		}
	]
};

var conditionsChart = new Chart(ctx).Bar(data, {
  scaleFontFamily: "'Fira Sans'",
  scaleFontSize: 16,
  scaleFontColor: "#000",
  scaleOverride:true,
  scaleSteps:<%= ((@weather_condition_frequencies.values.first / 5) + 1).round %>,
  scaleStepWidth:5,
  scaleStartValue: 0,
  barValueSpacing: 5,
  scaleLabel : "<%%= value %> %",
});

var swapPercentagesWithChart = function () {
  $("#conditions-table").toggleClass("hidden");
  $("#conditions-chart").toggleClass("hidden");
};

// PHOTO CARROUSEL
var Carrousel = (function(){

  var delay = 5000;
  var carrousel = $("#carrousel");
  var itemsHolder = carrousel.find("> ul");
  var items = itemsHolder.find("> li");
  var itemWidth = items.first().width();
  var currentItem = -1;
  var timerId;

  // var nextButton = $("#carrousel-nav > .next");
  // var previousButton = $("#carrousel-nav > .previous");
  // var numberLabel = $("#carrousel-nav > .number");

  var init = function(){
    itemsHolder.css({"width": (items.length * itemWidth) + "px"});
    // bind();
    start();
  };

  // var bind = function(){
  //   nextButton.on("click", next);
  //   previousButton.on("click", previous);
  // }

  var start = function(){
    loop();
    timerId = window.setInterval(loop, delay);
  }

  var stop = function(){
    if(timerId){
      window.clearInterval(timerId);
    }
  }

  var loop = function(){
    next();
  }

  var next = function(){
    currentItem++;

    if(currentItem == items.length){
      currentItem = 0;
    }

    move();
  };

  // var previous = function(){
  //   currentItem--;
  //
  //   if(currentItem <= 0){
  //     currentItem = items.length - 1;
  //   }
  //
  //   move();
  // }

  var move = function(){
    // var html = (currentItem + 1) + " / " + items.length;
    // numberLabel.html(html);

    var leftPosition = currentItem * itemWidth * -1;
    itemsHolder.stop().animate({"left": leftPosition + "px"}, 1000);
  }

  return {
    init: init,
    next: next,
    // previous: previous,
    start: start,
    stop: stop
  }
})();

// STARS TO FAVORITE & UNFAVORITE CITIES
var changeStarToFavorited = function (element) {
  $(element).addClass("true");
  $(element).removeClass("false");
  console.log("star is now favorited");
};

var changeStarToUnfavorited = function (element) {
  $(element).removeClass("true");
  $(element).addClass("false");
  console.log("star is now un-favorited");
};


$(document).ready(function(){
  $(".new-report-dumb-link").addClass("hidden");
  swapPercentagesWithChart();
  Carrousel.init();

  $(".favorite-form").addClass("hidden");
  $("h2.page-title").on("click","a.favorite", function(event) {
    event.preventDefault();
    console.log("clicked a non-favorite star");
    var that = this;

    if ($(this).hasClass("true")) {
        $.ajax({
          url: '<%= modify_favorite_zip_code_links_url + "?zip_code_id=#{@zip_code.id}" %>',
          type: "DELETE",
          success: changeStarToUnfavorited(that)
        });
    } else {
      $.ajax({
        url: '<%= modify_favorite_zip_code_links_url + "?zip_code_id=#{@zip_code.id}" %>',
        type: "POST",
        success: changeStarToFavorited(that)
      });
    };
  });
});



</script>