<!-- app/views/zip_codes/show.html.erb -->

<% content_for :head do %>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' >
<% end %>

<section class="zip-code-weather-left-column">


<h2 class="page-title"><%= @zip_code.city %>, <%= @zip_code.state_code %>
  <a
    href="#"
    data-remote="true"
    class="favorite <% if signed_in? && current_user.favorite_zip_code_ids.include?(@zip_code.id) %>
      <%= true %>
    <% else %>
      <%= false %>
    <% end %>">
    &#9733;
  </a>
</h2>

<span class="page-subtitle">(<%= @zip_code.zip_code %>)</span>


  <div class="favorite-form">
    <%= insert_approriate_favorite_zip_code_button(@zip_code.id) if signed_in? %>
  </div>

  <section class="current-conditions">
      <h3 class="section-title">Current Conditions</h3>

      <%= image_tag top_weather_condition_icon(@zip_code).url(:thumbnail), class: "current-weather-icon" %>
      <em><%= @current_temperature %> <span class="degree-units">&deg; <%= current_user.try(:celsius) ? "C" : "F" %><span></em>

      <table id="conditions-table" class="percentages">
        <% @weather_condition_frequencies.each do |condition| %>
        <tr>
          <td><%= condition[0] %></td>
          <td><%= number_to_percentage(condition[1], precision: 0) %></td>
        </tr>
        <% end %>

      </table>

      <canvas
        id="conditions-chart"
        class="percentages hidden"
        height="200" width="330"></canvas>
  </section>


</section>

<section class="zip-code-weather-right-column">

  <section>
    <a href="#map" id="weather-map-button">
      <span class="weather-arrow">&#10153;</span>
      &nbsp;Weather Map&nbsp;
      <span class="weather-arrow">&#10153;</span>
    </a>
  </section>

  <section class="new-report-dumb-link">
    <%= link_to "New Report for #{@zip_code.city}", new_weather_report_url(zip_code_id: @zip_code.id) %>
  </section>

  <section class="recent-photos">
    <h3 class="section-title"><%= link_to "Latest Photos", zip_code_gallery_url(@zip_code) %></h3>


    <div id="carrousel">
      <ul>
        <% @photos.each do |photo| %>
          <li><a href="<%= zip_code_gallery_url(@zip_code) %>">
            <%= image_tag photo.image.url(:big), class: "carrousel-photo" %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>

  </section>
</section>

<section class="zip-code-weather-full-column">
  <section class="recent-reports">
    <h3 class="section-title">Latest Reports</h3>
     <table>
      <tr>
        <th>Location</th>
        <th>Temperature</th>
        <th>Condition</th>
        <th>Submission Time</th>
      </tr>

      <% @recent_reports.take(10).each do |report| %>
      <tr>
        <% location = "#{report.zip_code.city}, #{report.zip_code.state_code} (#{report.zip_code.zip_code})" %>
        <td><%= link_to location, zip_code_url(report.zip_code) %></td>
        <td>
          <pre><%= report.temperature %>&deg;<%= current_user.try(:celsius) ? "C" : "F" %></pre>
        </td>
        <td><%= report.weather_condition.description %></td>
        <td><%= friendly_time_format(report.created_at) %></td>
      </tr>
      <% end %>

    </table>

    <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>

    <div id='map'></div>
<%#= fail %>
    <script type="text/javascript">
      var map = L.mapbox.map('map', 'examples.map-20v6611k').setView([<%= @zip_code.latitude %>, <%= @zip_code.longitude %>], 11);

      <% @recent_reports.each do |report| %>
        L.mapbox.featureLayer({
            type: 'Feature',
            geometry: {
                type: 'Point',
                coordinates: [<%= report.zip_code.longitude %>, <%= report.zip_code.latitude %>]
            },
            properties: {
                title: '<%= report.zip_code.city %>, <%= report.zip_code.state_code %> (<%= report.zip_code.zip_code %>)',
                description: '<%= report.temperature %>&deg;<%= current_user.try(:celsius) ? "C" : "F" %> <%= report.weather_condition.description %>',
                'marker-size': 'large',
                'marker-color': '#02d'
            }
        }).addTo(map);
      <% end %>

      L.mapbox.featureLayer({
          type: 'Feature',
          geometry: {
              type: 'Point',
              coordinates: [<%= @zip_code.longitude %>, <%= @zip_code.latitude %>]
          },
          properties: {
              title: '<%= @zip_code.city %>, <%= @zip_code.state_code %>',
              description: '<%= @zip_code.zip_code %>',
              'marker-size': 'large',
              'marker-color': '#0d2'
          }
      }).addTo(map);
    </script>

  </section>
</section>

<%= javascript_tag do %>
  // chart variable injected via ERB
  window.chartLabels = <%= array_to_javascript_array_string(@weather_condition_frequencies.keys).html_safe %>;
  window.chartData = <%= array_to_javascript_array_string(@weather_condition_frequencies.values).html_safe %>;
  window.scaleSteps = <%= ((@weather_condition_frequencies.values.first / 5) + 1).round %>;

  // favorite star variables injected via ERB
  window.modifyFavoriteCityLinkUrl = "<%= modify_favorite_zip_code_links_url + "?zip_code_id=#{@zip_code.id}" %>"
<% end %>

<script>
  $(document).ready(function(){
    $("#weather-map-button").click(function (event) {
      event.preventDefault();
      $("body").animate({ scrollTop: 947 }, "fast")
    });

    $(".new-report-dumb-link").addClass("hidden");

    startConditionsChart();
    conditionsChart.swapPercentagesWithChart();

    Carrousel();
    carrouselActions.init();

    $(".favorite-form").addClass("hidden");
    $("h2.page-title").on("click","a.favorite", function(event) {
      event.preventDefault();
      toggleFavoriteAJAXRequest(this);
    });
  });
</script>