<!-- app/views/users/_details.html.erb -->
<% action_url = (mode == :new ? users_url : user_url(@user)) %>

<form
  action="<%= action_url %>"
  method="post"
  enctype="multipart/form-data"
  class="input">
  <%= change_post_to_put if mode == :edit %>

  <%= insert_form_authenticity_token %>


    <label for="user_name">User Name<%= "*" if mode == :new %></label>
    <input
      type="text"
      name="user[user_name]"
      value="<%= @user.try(:user_name) %>"
      id="user_name">

    <label for="email">Email</label>
    <input
      type="email"
      name="user[email]"
      value="<%= @user.try(:email) %>"
      id="email">

    <label for="password">Password<%= "*" if mode == :new %></label>
    <input
      type="password"
      name="user[password]"
      id="password">
    <br>
    <label for="password_confirmation">Confirm<%= "*" if mode == :new %></label>
    <input
      type="password"
      name="user[password_confirmation]"
      id="password_confirmation">

    <label for="home_city_id">Home City</label>
    <select name="user[home_city_id]" id="home_city_id">
      <% @cities.each do |city| %>
        <option
          value="<%= city.id %>"
          <%= "selected" if @user.try(:home_city_id) == city.id %>>
          <%= city.name %>
        </option>
      <% end %>
    </select>

    <label>Temperature Scale</label>
      <br>

      <input
        type="radio"
        name="temperature_scale"
        value="fahrenheit"
        id="fahrenheit"
        <%= "checked" unless @user.try(:celsius) %>>
      <label for="fahrenheit">Fahrenheit</label>

      <br>

      <input
        type="radio"
        name="temperature_scale"
        value="celsius"
        id="celsius"
        <%= "checked" if @user.try(:celsius) %>>
      <label for="celsius">Celsius</label>

      <br>

    <label for="bio">Bio:</label>
    <br>
    <textarea name="user[bio]" id="bio"><%= @user.try(:bio) %></textarea>
    <br>
    <label for="bio">(140 characters max)</label>

    <label for="avatar">Avatar</label>
    <br>
    <%= image_tag @user.try(:avatar).try(:url, :full), class: "teaser-photo" %>
    <br>
    <input
      type="file"
      name="user[avatar]"
      value=""
      id="avatar">

    Favorite Cities:
    <br>
    <input type="hidden" name="user[favorite_city_ids][]" value=" ">
    <% @cities.each do |city| %>
    <input
      type="checkbox"
      name="user[favorite_city_ids][]"
      value="<%= city.id %>"
      id="city_checkbox_<%= city.id %>"
      <%= "checked" if @user.try(:favorite_city_ids) && @user.favorite_city_ids.include?(city.id) %>
      >
    <label for="city_checkbox_<%= city.id %>"><%= city.name %></label>
    <br>
    <% end %>


  <% if mode == :edit %>

      Favorite Users:
      <br>
      <input type="hidden" name="user[favorited_user_ids][]" value=" ">
      <% @other_users.each do |user| %>
      <input
        type="checkbox"
        name="user[favorited_user_ids][]"
        value="<%= user.id %>"
        id="fave_user_checkbox_<%= user.id %>"
        <%= "checked" if @user.try(:favorited_user_ids) && @user.favorited_user_ids.include?(user.id) %>
        >
      <label for="fave_user_checkbox_<%= user.id %>"><%= user.user_name %></label>
      <br>
      <% end %>

  <% end %>

  <input
    type="submit"
    value="<%= mode == :new ? 'Sign Up!' : 'Update Information' %>"
    class="submit">

</form>
    <p>*Required</p>
