<!-- app/views/users/_details.html.erb -->
<% action_url = (mode == :new ? users_url : user_url(@user)) %>


<form
  action="<%= action_url %>"
  method="post"
  enctype="multipart/form-data"
  class="input user-details">
  <%= change_post_to_put if mode == :edit %>

  <%= insert_form_authenticity_token %>


    <label for="user_name">User Name<%= "*" if mode == :new %></label>
    <input
      type="text"
      name="user[user_name]"
      value="<%= @user.try(:user_name) %>"
      id="user_name">

    <label for="email">Email</label>
    <input
      type="email"
      name="user[email]"
      value="<%= @user.try(:email) %>"
      id="email">

    <label for="password">Password<%= "*" if mode == :new %></label>
    <input
      type="password"
      name="user[password]"
      id="password">
    <br>
    <label for="password_confirmation">Confirm<%= "*" if mode == :new %></label>
    <input
      type="password"
      name="user[password_confirmation]"
      id="password_confirmation">

    <label for="home_zip_code_code_for_user">Home Zip Code</label>
    <input
      type="text"
      name="home_zip_code_code_for_user"
      value="<%= @user.try(:home_zip_code).try(:zip_code) %>"
      id="home_zip_code_code_for_user">

    <label>Temperature Scale</label>
    <section class="radio-group">
        <br>

        <input
          type="radio"
          name="temperature_scale"
          value="fahrenheit"
          id="fahrenheit"
          <%= "checked" unless @user.try(:celsius) %>>
        <label for="fahrenheit">Fahrenheit</label>

        <br>

        <input
          type="radio"
          name="temperature_scale"
          value="celsius"
          id="celsius"
          <%= "checked" if @user.try(:celsius) %>>
        <label for="celsius">Celsius</label>
    </section>

    <section class="bio">
      <label for="bio">Bio:</label>
      <br>
      <textarea name="user[bio]" id="bio"><%= @user.try(:bio) %></textarea>
      <br>
      (140 characters max)
    </section>

    <section class="avatars group">
      <% if mode == :edit %>
        <section class="current-avatar">
          <label for="current-avatar">Current Avatar</label>
          <%= image_tag @user.try(:avatar).try(:url, :full), class: "teaser-photo current-avatar", id: "current-avatar" %>
        </section>
      <% end %>

      <section class="new-avatar">
        <label for="new-avatar">New Avatar</label>
        <%= image_tag "", class: "teaser-photo new-avatar empty" %>
      </section>
    </section>

    <input
      type="file"
      name="user[avatar]"
      value=""
      id="avatar"
      class="avatar-file-picker">

  <% if mode == :edit && false %>

      Favorite Users:
      <br>
      <input type="hidden" name="user[favorited_user_ids][]" value=" ">
      <% @other_users.each do |user| %>
      <input
        type="checkbox"
        name="user[favorited_user_ids][]"
        value="<%= user.id %>"
        id="fave_user_checkbox_<%= user.id %>"
        <%= "checked" if @user.try(:favorited_user_ids) && @user.favorited_user_ids.include?(user.id) %>
        >
      <label for="fave_user_checkbox_<%= user.id %>"><%= user.user_name %></label>
      <br>
      <% end %>

  <% end %>

  <input
    type="submit"
    value="<%= mode == :new ? 'Sign Up!' : 'Update Information' %>"
    class="submit"><%= "or #{link_to "Cancel", user_gallery_url(current_user)}".html_safe if mode == :edit %>

</form>
    <p>*Required</p>

<script>

$(document).ready(function(){

  function readUrl(input) {
    if (input.files && input.files[0]) {
      var file = input.files[0]
      var $fileInput = $(input);

      if (/jpg|jpeg|png|bmp/.exec(file.type)) {

        var reader = new FileReader();
        reader.onload = function(e) {
          var picData = e.target.result;

          // postAttachment(picData, $fileInput);
          $('img.new-avatar').attr('src', picData);
          $('img.new-avatar').removeClass("empty");
        };
        reader.readAsDataURL(input.files[0]);
      };
    }
  };

  $('form.user-details').on('change', 'input.avatar-file-picker', function() {
    readUrl(this);
  });
});

</script>