<!-- /app/views/users/dashboard.html.erb -->

<section class="left-column">

  <section class="home-city-weather">
    <h3 class="section-title">My Weather</h3>
      <% if !!current_user.home_city_id %>
        <%= render "cities/current_weather_summary", city: current_user.home_city %>
      <% else %>
        <%= link_to "See your local weather here: add your home city.", edit_user_url(current_user) %>
      <% end %>
  </section>

  <section class="favorite-cities-weather">
    <h3 class="section-title">Favorite Cities</h3>
      <ul>
        <% @favorite_cities_without_home.each do |city| %>
          <li>
            <%= render "cities/current_weather_summary", city: city %>
          </li>
        <% end %>
      </ul>
  </section>

  <!-- <section>
    <%#= render "weather_reports/new",
      weather_conditions: @weather_conditions,
      cities: @cities %>
  </section> -->

</section>

<section class="main-column">
  <section class="photo-feed">
    <h3 class="section-title">Weather Photos</h3>
      <%= render "photos/full_feed", photos: @photos %>

      <%= paginate @photos %>
  </section>
</section>
