<!-- /app/views/users/dashboard.html.erb -->

<h2 class="page-title">Welcome, <%= link_to current_user.user_name, user_gallery_url(current_user) %>!</h2>

<section class="left-column">

  <section class="home-zip_code-weather">
    <h3 class="section-title">My Weather</h3>
      <% if !!current_user.home_zip_code_id %>
        <%= render "zip_codes/current_weather_summary", zip_code: current_user.home_zip_code %>
      <% else %>
        <%= link_to "See your local weather here: add your home zip_code.", edit_user_url(current_user) %>
      <% end %>
  </section>

  <section class="favorite-zip_codes-weather">
    <h3 class="section-title">Favorite Cities</h3>
      <ul>
        <% @favorite_zip_codes_without_home.each do |zip_code| %>
          <li>
            <%= render "zip_codes/current_weather_summary", zip_code: zip_code %>
          </li>
        <% end %>
      </ul>
  </section>
</section>

<section class="main-column">
  <section class="photo-feed">
    <h3 class="section-title">Weather Photos</h3>
      <%= render "photos/full_feed", photos: @photos %>

      <%= paginate @photos %>
  </section>
</section>
