<!-- /app/view/photos/_details.html.erb -->
<% action_url = (mode == :new ? photos_url : photo_url(@photo)) %>

<form class="input" action="<%= action_url %>" method="post" enctype="multipart/form-data">
  <%= change_post_to_put if mode == :edit %>

  <%= insert_form_authenticity_token %>

  <%= image_tag photo.try(:image).try(:url, :small) %>
  <br>
  <label for="image">Choose a Photo</label>
  <input type="file" name="photo[image]" value="" id="image">

  <label for="caption">Caption</label>
  <textarea name="photo[caption]" id="caption"><%= photo.try(:caption) %></textarea>

  <label for="zip_code_code">Zip Code</label>
  <input
    type="text"
    name="zip_code_code_for_photo"
    value="<%= @photo.try(:zip_code).try(:zip_code) %>"
    id="zip_code_code"
    placeholder="Zip Code">

    <label for="tags">Tags</label>
    <input
      type="text"
      name="tags"
      value="<%= @photo.tags.map(&:body).join(", ") if @tags %>"
      id="tags">

  <input
    type="submit"
    class="submit"
    value="<%= mode == :new ? 'Add' : 'Update' %> Photo"><%= "or #{link_to "Cancel", photo_url(photo)}".html_safe if mode == :edit %>
</form>

<div class="input">
  <%= button_to "Delete Photo", photo_url(@photo),
    method: :delete,
    class: "submit delete" if @photo.try(:submitter) == current_user %>
</div>
