<!-- /app/view/photos/_details.html.erb -->
<% action_url = (mode == :new ? photos_url : photo_url(@photo)) %>

<form action="<%= action_url %>" method="post" enctype="multipart/form-data">
  <%= change_post_to_put if mode == :edit %>

  <%= insert_form_authenticity_token %>

  <%= image_tag photo.try(:image).try(:url, :small) %>
  <br>
  <label for="image">Choose a Photo</label>
  <input type="file" name="photo[image]" value="" id="image">

  <label for="caption">Caption</label>
  <textarea name="photo[caption]" id="caption"><%= photo.try(:caption) %></textarea>

  <label for="zip_code_code">Zip Code</label>
  <input
    type="text"
    name="zip_code_code_for_photo"
    value="<%= @photo.try(:zip_code).try(:zip_code) %>"
    id="zip_code_code"
    placeholder="Zip Code">

  Tags:
  <br>
  <input type="hidden" name="photo[tag_ids][]" value=" ">
  <% @tags.each do |tag| %>
    <input
      type="checkbox"
      name="photo[tag_ids][]"
      value="<%= tag.id %>"
      id="tag_checkbox_<%= tag.id %>"
      <%= "checked" if @photo.try(:tag_ids) && @photo.tag_ids.include?(tag.id) %>
      >
    <label for="tag_checkbox_<%= tag.id %>"><%= tag.body %></label>
    <br>
  <% end %>


  <input type="submit" value="<%= mode == :new ? 'Add' : 'Update' %> Photo">
</form>

<p>
  <%= button_to "Delete Photo", photo_url(@photo), method: :delete if @photo.try(:submitter) == current_user%>
</p>