<!-- /app/views/photos/_full_feed.html.erb -->

<ul>
  <% photos.each do |photo| %>
  <li>
    <figure>
      <a href="<%= photo_url(photo) %>">
        <%= image_tag photo.image.url(:big), class: "content-photo" %>
      </a>

      <figcaption>
        <p>
          <a href="<%= user_gallery_url(photo.submitter) %>"><%= image_tag photo.submitter.avatar.url(:thumbnail), class: "avatar" %></a>

          <a href="<%= user_gallery_url(photo.submitter) %>">
            <%= photo.submitter.user_name %></a>

          in

          <a href="<%= zip_code_url(photo.zip_code_id) %>">
            <%= photo.zip_code.city %></a>

          <%= time_ago_in_words(photo.created_at) %> ago
        </p>

        <p>
          <%= photo.caption %>
        </p>

        <p>
          Tags:
          <ul class="tag-list">
            <% photo.tags.each do |tag| %>
            <li><%= link_to tag.body, tag_gallery_url(tag) %></li>
            <% end %>
          </ul>
        </p>


        Comments:
        <ul id="comments-for-<%= photo.id %>">
          <% photo.comments.each do |comment| %>
          <li>
            <%= render comment %>
          </li>
          <% end %>
        </ul>


        <form
          class="input comment"
          id="comment-form-<%= photo.id %>"
          action="<%= photo_comments_url(photo) %>"
          method="post"
          data-remote="true">
          <%= insert_form_authenticity_token %>

            <textarea name="comment[body]" id="comment" placeholder="Add a Comment:"></textarea>


          <input type="submit" name="commit" value="Post">
        </form>

      </figcaption>
    </figure>
  </li>
  <% end %>
</ul>


<script>


$(document).ready(function(){
  console.log('in the full feed script')

  $("form.comment").on("ajax:success", function(event, data){
    console.log("in the ajax success function")
    console.log(event);
    console.log(data);
    $(this).prev().append(data);
    this.reset();
  });
});

</script>