<!-- /app/views/photos/_last_four_photos.html.erb -->

<ul>
  <% photos.each do |photo| %>
  <li>
    <a href="<%= photo_url(photo) %>">
      <%= image_tag photo.image.url(:small), class: "teaser-photo" %>
    </a>
    <figcaption>
      <p>
        <a href="<%= user_url(photo.submitter) %>"><%= image_tag photo.submitter.avatar.url(:thumbnail), class: "avatar" %></a>

        <%= photo.submitter.user_name %>
        <br>
        <%= time_ago_in_words(photo.created_at) %>
      </p>
    </figcaption>
  </li>
  <% end %>
</ul>