<!-- /app/views/photos/_photo_list_minimal_caption.html.erb -->

<ul>
  <% photos.each do |photo| %>
  <li>
    <figure>
      <a href="<%= photo_url(photo) %>">
        <%= image_tag photo.image.url(:small), class: "teaser-photo" %>
      </a>
    <figcaption>
      <p>
        <a href="<%= user_gallery_url(photo.submitter) %>"><%= image_tag photo.submitter.avatar.url(:thumbnail), class: "avatar" %></a>

        <a href="<%= user_gallery_url(photo.submitter) %>">
          <%= photo.submitter.user_name %></a>
        <br>
        <%= time_ago_in_words(photo.created_at) %>
      </p>
    </figcaption>
  </figure>
  </li>
  <% end %>
</ul>