<h1 class="page-title"><%= @photo.submitter.user_name %>'s Photo</h1>

<%= image_tag @photo.image.url(:big) %>

<p>
  <%= @photo.caption %>
</p>

<p>
  Taken in <%= @photo.city.name %> at <%= friendly_time_format(@photo.created_at) %>
</p>

<p>
  <!-- tags go here -->
</p>

<p>
  <!-- comment box goes here -->
</p>


<p>
  <%= link_to "Edit Photo", edit_photo_url(@photo) if @photo.submitter == current_user%>
  <br>
  <%= button_to "Delete Photo", photo_url(@photo), method: :delete if @photo.submitter == current_user%>
</p>