<!-- /app/views/galleries/_user_details.html.erb -->

<p>
  <a href="<%= user_gallery_url(user) %>">
    <%= image_tag user.avatar.url(:thumbnail) %>
    <%= user.user_name %></a>
</p>

<p>
  <%= link_to user.home_city.name, city_url(user.home_city_id) %>
</p>

<p>
  Bio: <%= user.bio %>
</p>

<p>
  <%= insert_approriate_favorite_user_button(user.id) %>
</p>

