<!-- /app/views/galleries/show.html.erb -->

<h2 class="page-title">Weather Photos for: <%= @name %></h2>

<section class="left-column">
  <section class="user-profile-box">
    <%= (render "user_details", user: @subject) if @subject.is_a?(User) %>
    <%= (render "zip_code_details", zip_code: @subject) if @subject.is_a?(City) %>
  </section>
</section>

<section class="main-column">
  <section class="photo-feed">
    <% if @photos.nil? || @photos.length == 0 %>
      This user hasn't uploaded any photos yet.
    <% else %>

      <%= paginate @photos %>

      <%= render "photos/full_feed", photos: @photos %>

      <%= paginate @photos %>

    <% end %>

  </section>
</section>
