<!DOCTYPE html>
<html>
<head>
  <title>WeatherApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <section class="header-content">
      <a href="<%= root_url %>">
        <h1 class="site-logo">Partly Sunny</h1>
      <a>

      <nav>
        <input
          type="search"
          name="site_search"
          value=""
          id="site_search"
          placeholder="Search & Favorites">
        <ul>
          <li class="icon new-post">Post a New Weather Report or Photo</li>
          <li class="icon notifications">Notifications</li>
          <li class="icon user-menu">User Menu</li>
          <li class="icon settings-menu">Settings Menu</li>
        </ul>
      </nav>
    </section>
  </header>

  <div class="content group">

  <!-- The body should consist of two columns: -->
    <!-- left-column & main-column OR -->
    <!-- city-weather-left-column & city-weather-right-column -->

    <%= yield %>

  </div>


<!-- <p>params: <%= params %></p>
<p>session: <%= session %></p> -->

<%= "<p>errors: #{flash[:errors]} </p>".html_safe if flash[:errors] %>
<%= "<p>notice: #{flash[:notice]} </p>".html_safe if flash[:notice] %>

</body>
</html>
