<!DOCTYPE html>
<html>
<head>
  <title>WeatherApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <section class="header-content">
      <a href="<%= root_url %>">
        <h1 class="site-logo">Partly Sunny</h1>
      <a>

      <nav>
        <input
          type="search"
          name="site_search"
          value=""
          id="site_search"
          placeholder="Search & Favorites">
        <ul>
          <li class="icon" id="new-post">
            Post a New Weather Report or Photo
            <div class="nav-bar-dropdown hidden">
              <div class="triangle-up">&nbsp;</div>
              <%= render "nav_bar_dropdowns/post_button_explanation", current_user: current_user %>
            </div>
          </li>
          <li class="icon" id="notifications">
            <div class="relative-dummy-element">
              Notifications
              <div class="nav-bar-dropdown hidden">
                <div class="triangle-up">&nbsp;</div>
                <%= render "nav_bar_dropdowns/notifications", current_user: current_user %>
              </div>
            </div>
          </li>
          <li class="icon" id="user-menu">
            User Menu
            <div class="nav-bar-dropdown hidden">
              <div class="triangle-up">&nbsp;</div>
              <%= render "nav_bar_dropdowns/user_menu", current_user: current_user %>
            </div>
          </li>
          <li class="icon" id="settings-menu">
            Settings Menu
            <div class="nav-bar-dropdown hidden">
              <div class="triangle-up">&nbsp;</div>
              <%= render "nav_bar_dropdowns/settings_menu", current_user: current_user %>
            </div>
          </li>
        </ul>
      </nav>
    </section>
  </header>

  <div class="content group">

  <!-- The body should consist of two columns: -->
    <!-- left-column & main-column OR -->
    <!-- city-weather-left-column & city-weather-right-column -->

    <%= yield %>

  </div>


<!-- <p>params: <%= params %></p>
<p>session: <%= session %></p> -->

<%= "<p>errors: #{flash[:errors]} </p>".html_safe if flash[:errors] %>
<%= "<p>notice: #{flash[:notice]} </p>".html_safe if flash[:notice] %>

<%= render "layouts/navigation_bar_signed_in" if signed_in? %>
<%= render "layouts/navigation_bar_not_signed_in" if !signed_in? %>

<script>

  $(document).ready(function() {

    console.log("in the on-page script")

    // $("nav li.icon").on("click", function (event) {
    //   console.log(event);
    //   console.log(this);
    //   $(this).find(".nav-bar-dropdown").toggleClass("hidden");
    //   // $("nav li#user-menu .nav-bar-dropdown").toggleClass("hidden");
    // });
    //
    // $("body").on("mouseout", function (event) {
    //   console.log(event);
    //   $(this).find(".nav-bar-dropdown").addClass("hidden");
    //   // $("nav li#user-menu .nav-bar-dropdown").toggleClass("hidden");
    // });

  });
</script>

</body>
</html>
