<!DOCTYPE html>
<html>
<head>
  <title>WeatherApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="content group">
  <!-- The body should consist of two columns: -->
    <!-- left-column & main-column OR -->
    <!-- zip_code-weather-left-column & zip_code-weather-right-column -->

    <%= yield %>

  </div>


<!-- <p>params: <%= params %></p>
<p>session: <%= session %></p> -->

<%= "<p>errors: #{flash[:errors]} </p>".html_safe if flash[:errors] %>
<%= "<p>notice: #{flash[:notice]} </p>".html_safe if flash[:notice] %>

<%= render "layouts/navigation_bar_signed_in" if signed_in? %>
<%= render "layouts/navigation_bar_not_signed_in" if !signed_in? %>

</body>
</html>
