<!DOCTYPE html>
<html>
<head>
  <title>Partly Sunny</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="public-index">

<div class="content group">
  <!-- The body should consist of two columns: -->
    <!-- left-column & main-column OR -->
    <!-- zip_code-weather-left-column & zip_code-weather-right-column -->

    <%= yield %>

  </div>

  <footer>

  </footer>

<!-- <p>params: <%= params %></p>
<p>session: <%= session %></p> -->

</div>

</body>
</html>
